@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.App {
  background-color: #111;
}

.tv-header,
.movies-header {
  color: #fff;
  font-size: 38px;
  font-weight: 700;
  padding: 80px 0 50px 60px;
}
