.nav {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  height: 30px;
  z-index: 1;

  transition-timing-function: ease-in;
  transition: all 0.3s;
}

.nav-black {
  background-color: #111;
}

.nav-logo {
  position: fixed;
  left: 60px;
  width: 80px;
  object-fit: contain;
}

p {
  color: #fff;
  font-size: 16px;
  position: fixed;
  cursor: pointer;
  transition: all 0.2s;
}

p:hover {
  color: rgb(165, 165, 165);
}

.home {
  left: 180px;
}

.tv {
  left: 240px;
}

.movies {
  left: 330px;
}

.my-list {
  left: 400px;
}

.nav-avatar {
  position: fixed;
  right: 60px;
  width: 30px;
  object-fit: contain;
}
